---
import LayoutB from '../layouts/LayoutB.astro';
import HeaderB from '../components/b/HeaderB.astro';
import HeroB from '../components/b/sections/HeroB.astro';
import ServicesB from '../components/b/sections/ServicesB.astro';
import MetricsB from '../components/b/sections/MetricsB.astro';
import ApproachB from '../components/b/sections/ApproachB.astro';
import AboutB from '../components/b/sections/AboutB.astro';
import ContactB from '../components/b/sections/ContactB.astro';
import FooterB from '../components/b/FooterB.astro';
---

<LayoutB title="catdev - Build what comes next (B Version)">
  <HeaderB />
  <main>
    <HeroB />
    <ServicesB />
    <MetricsB />
    <ApproachB />
    <AboutB />
    <ContactB />
  </main>
  <FooterB />
</LayoutB>
